* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar header"
        "sidebar main"
        "sidebar main"
        "sidebar main";
}

.sidebar {
    background-color: #1992D4;
    color: #fff;
    height: 100vh;
    grid-area: sidebar;
    padding: 10px 20px;
    width: 20vw;
}

.sidebar ul {
    margin-top: 30px;
    list-style: none;
    display: grid;
    gap: 15px;
}

.sidebar ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.header {
    background-color: aqua;
    height: 20vh;
    width: 80vw;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "top top"
        "bottom bottom";
}


.header-top {
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.search-area,
.account-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header-bottom {
    grid-area: bottom;
}

v .main-block {
    background-color: blanchedalmond;
    height: 80vh;
    width: 80vw;
    grid-area: main;
}